@import './variables.scss';

body {
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  // flex-direction: column;
  color: $secondary-color;
}

.application-view {
  // margin: auto;
}

h1, h3, #location-input, #submit-button {
  // padding: 20px;
  margin: 20px auto;
}

h1 {
  font-size: 30px;
  color: $primary-color;
}

ul {

}
