@import url('https://fonts.googleapis.com/css?family=Catamaran|Montserrat|Oswald');

$default: #000000 ;

$sunny-high: #f1e700;
$cloudy-high: #4f4c4c;
$windy-high: #4cb33b;
$rain-high: #0264ab;
$thunderstorms-high: #7b0a9d;
$snow-high: #00d1ab;

$sunny-low: #ddd87d;
$cloudy-low: #777575;
$windy-low: #a4d79b;
$rain-low: #467ba2 ;
$thunderstorms-low: #4c2e5b ;
$snow-low: #279c7c ;

$primary-color: #0264ab;
$secondary-color: #612180;

$catamaran: 'Catamaran', sans-serif;
$oswald: 'Oswald', sans-serif;
$montserrat: 'Montserrat', sans-serif;
