@import url('https://fonts.googleapis.com/css?family=Catamaran|Montserrat|Oswald');

$sunny-high: #aa650c;
$cloudy-high: #4f4c4c;
$windy-high: #429933;
$rain-high: #0264ab;
$thunderstorms-high: #7b0a9d;
$snow-high: #05a88b;

$sunny-low: #945205;
$cloudy-low: #363636;
$windy-low: #25571b;
$rain-low: #1e4663;
$thunderstorms-low: #4c2e5b;
$snow-low: #0e4b3a;

$primary-color: #0264ab;
$secondary-color: #612180;
$location-info: #050505;
$default: #000000;

$catamaran: 'Catamaran', sans-serif;
$oswald: 'Oswald', sans-serif;
$montserrat: 'Montserrat', sans-serif;
