@import url('https://fonts.googleapis.com/css?family=Catamaran|Montserrat|Oswald');

$primary-color: #0264ab;
$secondary-color: #341244;
$tertiary-color: #043c63;

$catamaran: 'Catamaran', sans-serif;
$oswald: 'Oswald', sans-serif;
$montserrat: 'Montserrat', sans-serif;
